<div class="row-fluid">

	<div class="page-header">
		<h1>
			Teams<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Teams</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="t in teams">
					<td>{{t.teamId}}</td>
					<td>{{t.name}}</td>
					<td><img width="50px" height="50px" ng-src="{{t.url}}" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
