<div class="container">

<p>
mateBet ist ein Produkt der PBB UG (haftungsbeschr&auml;nkt). Alle Rechte vorbehalten.
</p>

<p>
Sowohl die Betreiber, als auch das Produkt mateBet an sich stehen in keinerlei Verh&auml;ltnis zu kommerziellen Wettanbietern, Wettb&ouml;rsen oder Vereinen. Die Herausgeber &uuml;bernehmen keine Haftung f&uuml;r nicht eingel&ouml;ste Wetteins&auml;tze. Die Abwicklung von gewonnenen und verlorenen Wetten erfolgt unabh&auml;ngig von mateBet. Insbesondere steht jeglicher Geldfluss in keinem unmittelbaren Zusammenhang mit mateBet.
</p>

<p>
Uns, den Verantwortlichen von mateBet, geht es mit dieser App um den Spa&szlig; an Fu&szlig;ballvorhersagen und am Wettbewerb untereinander. Wir m&ouml;chten eine Plattform bieten, die dazu beitr&auml;gt, den ein oder anderen Spieltag im Freundeskreis spannender und erlebnisreicher werden zu lassen.
</p>

<p>
F&uuml;r Kritik und Anregungen aller Art schreibe uns eine Mail an <a href="mailto:info@matebet.net">info@matebet.net</a> oder direkt bei
 <a href="#" onclick="window.open('https://www.facebook.com/PBBmateBet', '_system', 'location=yes'); return false;">
Facebook</a>.
</p>

<br/>
</div>
